# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules

# Editor directories and files
.vscode/*
.vscode/extensions.json
.vscode/settings.json

docs/assets
docs/index.html
docs/locales/*
process/processed/

# other files anf folders
dist-ssr
coverage
*.local
/cypress/videos/
/cypress/screenshots/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
dist