# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules

# Editor directories and files
###.vscode/extensions.json
##.vscode/settings.json
#.vscode/launch.json
#.vscode/launch.json

# for Vite-KingdomCreator-New
docs/assets
docs/index.html
docs/404.html
docs/dominion-content.js
docs/locales/*.json
process/processed/
package-lock.json

# other files anf folders
dist-ssr
coverage
*.local
/cypress/videos/
/cypress/screenshots/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
dist
